libcamerasrc ! video/x-raw,format=I420,width=1280,height=720,framerate=15/1 !
x264enc bframes=0 speed-preset=ultrafast bitrate=1000 byte-stream=TRUE tune=zerolatency threads=2 !
video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline !
appsink sync=TRUE emit-signals=TRUE name=appsink-video